.checkboxes,
.radios {
  float: left;
  margin: 0;
  position: relative;
  width: 100%;
}
.checkboxes span,
.radios span {
  background: url("../img/checkboxes-and-radio-buttons.png") no-repeat scroll transparent;
  display: block;
  height: 24px;
  position: absolute;
  left: 0;
  top: 0;
  text-indent: -9999px;
  width: 24px;
}
.checkboxes input[type="checkbox"],
.radios input[type="checkbox"],
.checkboxes input[type="radio"],
.radios input[type="radio"] {
  border: 0 none;
  clear: left;
  float: left;
  height: 24px;
  filter: alpha(opacity=0);
  opacity: 0;
  position: relative;
  width: 24px;
}
.checkboxes input[type="checkbox"] + label,
.radios input[type="checkbox"] + label,
.checkboxes input[type="radio"] + label,
.radios input[type="radio"] + label {
  clear: right;
  float: left;
  line-height: 1.2;
  margin: 5px 0 0 5px;
}
.checkboxes input[type="checkbox"]:focus,
.radios input[type="checkbox"]:focus,
.checkboxes input[type="radio"]:focus,
.radios input[type="radio"]:focus,
.checkboxes input[type="checkbox"]:active,
.radios input[type="checkbox"]:active,
.checkboxes input[type="radio"]:active,
.radios input[type="radio"]:active {
  border: 0 none;
  outline: 0 none;
}
.checkboxes span {
  background-position: 0 0;
}
.checkboxes span.checked {
  background-position: -24px -24px;
}
.checkboxes span.checked.focus,
.checkboxes span.checked.hover {
  background-position: -96px -96px;
}
.checkboxes span.checked.disabled {
  background-position: -48px -48px;
}
.checkboxes span.focus,
.checkboxes span.hover {
  background-position: -120px -120px;
}
.checkboxes span.disabled {
  background-position: -72px -72px;
}
.radios span {
  background-position: 0 -144px;
}
.radios span.radio {
  background-position: -24px -168px;
}
.radios span.radio.focus,
.radios span.radio.hover {
  background-position: -96px -240px;
}
.radios span.hover {
  background-position: -120px -264px;
}
.radios span.disabled {
  background-position: -72px -216px;
}
.radios span.disabled-checked {
  background-position: -48px -192px;
}
input[disabled] {
  cursor: not-allowed;
  opacity: 0.8;
}
input[disabled] + label {
  cursor: not-allowed;
}
