@charset "utf-8";
html {
  background: url("../img/bg.png") repeat scroll 0 0 transparent;
}
fieldset {
  border: 1px solid #333;
  box-shadow: 0 0 2px #666 inset;
  margin: 10px 0;
  padding: 20px;
}
legend {
  background: url("../img/bg.png") repeat scroll 0 0 transparent;
  border: 1px solid #333;
  box-shadow: 0 0 2px #666 inset;
  opacity: 0.75;
  padding: 5px 20px;
  text-shadow: 1px 1px #666;
}
label {
  float: left;
  font-size: 14px;
  margin: 8px 0 0 4px;
}
h1 {
  font-size: 3em;
  padding: 0 0 0 40px;
}
h2 {
  font-size: 1.125em;
  padding: 0 40px;
}
.text,
fieldset,
.follow {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  float: left;
  width: 100%;
}
.text {
  border: 1px solid #333;
  box-shadow: 0 0 2px #666 inset;
  margin: 20px auto;
  padding: 15px 0;
  text-shadow: 1px 1px #666;
}
p {
  font-size: 0.75em;
  padding: 0 20px;
}
::-moz-selection {
  background: #00607F;
  color: #ffffff;
}
::selection {
  background: #00607F;
  color: #ffffff;
}
.container {
  margin: 0 auto;
  max-width: 100%;
  width: 640px;
}
.follow {
  margin: 10px 0;
}
.btn {
  background-color: #007197;
  background-image: -moz-linear-gradient(center bottom, #005d7c 0%, #0088b5 100%);
  background-image: -o-linear-gradient(center bottom, #005d7c 0%, #0088b5 100%);
  background-image: -webkit-linear-gradient(left bottom, left top, color-stop(0, #005d7c), color-stop(1, #0088b5));
  background-image: -ms-linear-gradient(top, #005d7c 0%, #0088b5 100%);
  background-image: linear-gradient(top, #005d7c 0%, #0088b5 100%);
  border: 1px solid #1D4253;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.55);
  color: #FFFFFF;
  display: block;
  font-size: 1.2em;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  text-shadow: 1px 1px 0 #004e68;
}
.btn:hover {
  background-color: #0081ab;
  background-image: -moz-linear-gradient(center bottom, #00749a 0%, #00a5c6 100%);
  background-image: -o-linear-gradient(center bottom, #00749a 0%, #00a5c6 100%);
  background-image: -webkit-linear-gradient(left bottom, left top, color-stop(0, #00749a), color-stop(1, #00a5c6));
  background-image: -ms-linear-gradient(top, #00749a 0%, #00a5c6 100%);
  background-image: linear-gradient(top, #00749a 0%, #00a5c6 100%);
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
}
.btn:active {
  background-color: #006486;
  background-image: -moz-linear-gradient(center bottom, #0085a6 0%, #00537a 100%);
  background-image: -o-linear-gradient(center bottom, #0085a6 0%, #00537a 100%);
  background-image: -webkit-linear-gradient(left bottom, left top, color-stop(0, #0085a6), color-stop(1, #00537a));
  background-image: -ms-linear-gradient(top, #0085a6 0%, #00537a 100%);
  background-image: linear-gradient(top, #0085a6 0%, #00537a 100%);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.75);
}
.btn span {
  border-radius: 5px;
  border-top: 1px solid #00B8D3;
  display: block;
  font-weight: bold;
  padding: 2% 0;
}
.btn span:active {
  border-top-color: transparent;
}
.checkboxes input,
.radios input {
  border: 0 none;
  float: left;
  height: 24px;
  filter: alpha(opacity=0);
  opacity: 0;
  position: relative;
  width: 24px;
}
.checkboxes input:focus,
.radios input:focus,
.checkboxes input:active,
.radios input:active {
  border: 0 none;
  outline: 0 none;
}
form ul li {
  float: left;
  margin: 0;
  position: relative;
  width: 100%;
}
form ul li span {
  background: url("../img/checkboxes-and-radio-buttons.png") no-repeat scroll transparent;
  display: block;
  height: 24px;
  position: absolute;
  left: 0;
  top: 0;
  text-indent: -9999px;
  width: 24px;
}
form ul li.checkboxes span {
  background-position: 0 0;
}
form ul li.checkboxes span.checked {
  background-position: -24px -24px;
}
form ul li.checkboxes span.checked.focus,
form ul li.checkboxes span.checked.hover {
  background-position: -96px -96px;
}
form ul li.checkboxes span.checked.disabled {
  background-position: -48px -48px;
}
form ul li.checkboxes span.focus,
form ul li.checkboxes span.hover {
  background-position: -120px -120px;
}
form ul li.checkboxes span.disabled {
  background-position: -72px -72px;
}
form ul li.radios span {
  background-position: 0 -144px;
}
form ul li.radios span.radio {
  background-position: -24px -168px;
}
form ul li.radios span.radio.focus,
form ul li.radios span.radio.hover {
  background-position: -96px -240px;
}
form ul li.radios span.hover {
  background-position: -120px -264px;
}
form ul li.radios span.disabled {
  background-position: -72px -216px;
}
form ul li.radios span.disabled-checked {
  background-position: -48px -192px;
}
